.projects-r {
    margin-top: 50px !important;
    margin-bottom: 50px;
}

.projects-r2 {
    margin-bottom: 50px !important;
}

.projects-r3 {
    text-align: center;
    margin-bottom: 50px !important;
}

.projects-t1 {
    font-size: 40px;
    font-weight: bold;
    color: #eb5e06;
}

.projects-t2 {
    color: black;
}

.pcenter {
    align-items: center;
    align-self: center;
    width: 40% !important;
    margin-left: 30%;
    margin-right: 30%;
}